
p1 {
    font-size: 15px;
}
p2 {
    font-size: 15px;
}
p3 {
    font-size: 15px;
}

}
.form {
    font-size:20px;
}
h1 {
    font-size:30px;
    position: center;

}
.minecraft {
    font-size:30px;
    position: center;
}